= render 'layouts/header'
%br
  -if signed_in?
    = link_to 'New Publication', new_publication_path ,:class => "ui small blue button"
%br

.ui.special.cards  
  - @publications.each do |publication|
    .ui.black.card{:style => "float:left !important ; margin-right:5px !important; margin-left:15px !important;"}
      .content
        .header
          = publication.title
        / %br
        / = raw(publication.body) 
        %br
        %i.spy.icon
        = publication.pen_name 
        .inline.field
         
          = link_to 'Read', publication , :class => "ui small green button"
         
          -if writer_signed_in? && current_writer.id == publication.writer_id || writer_signed_in? && current_writer.email == publication.email
           
            = link_to 'Edit', edit_publication_path(publication) ,:class => "ui small button"
            = link_to 'Delete', publication, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "ui small red button"


