= render 'layouts/header'

.ui.middle.aligned.grid{:style => "padding-left:50px !important;padding-right:50px !important"}
  .column
    .ui.medium.header
      = @publication.title
    = raw(@publication.body)
    %br
    = social_share_button_tag(@publication.title)
    .inline.field
      %i
        = @publication.genre
    %br
    .inline.field
      = link_to publications_path(@publication.writer), :id => 'pen' do
        %i.spy.icon
        = @publication.pen_name
    %br
    .inline.field
      = link_to like_publication_path(@publication), method: :put do
        %i.green.heart.icon
        Likes
        \#{@publication.get_upvotes.size}
      = link_to dislike_publication_path(@publication), method: :put do
        %i.red.lemon.icon
        Dislikes
        \#{@publication.get_downvotes.size}
    .inline.field
    %br
    -if writer_signed_in? && current_writer.id == @publication.writer_id ||  writer_signed_in? && current_writer.email == @publication.email || superuser_signed_in?
      = link_to 'Edit', edit_publication_path(@publication) ,:class =>"ui inverted green button"
    \|
    = link_to 'Back', publications_path , :class => "ui inverted small blue button"
    - if writer_signed_in?
      %div{style: 'margin-top: 1em;'}
        = render :partial => 'comments/form', :locals => { :comment => Comment.build_from(@publication, current_writer.id, "") }
    - else
      .ui.green.message
        = link_to "Please Sign in to comment" ,new_writer_session_path
    .comments
      = render :partial => 'comments/comment', :collection => @publication.comment_threads.order('created_at desc'), :as => :comment
