= render 'layouts/header'
.ui.container
	%center
		.column{:style => "max-width:450px;"}
			.ui.form
				%h2 Forgot your password?
				= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
					= devise_error_messages!
					.field
						= f.label :email
						%br/
						= f.email_field :email, autofocus: true , required: true
					.actions
						= f.submit "Send me reset password instructions" , :class => "ui inverted small green button"
					%br
					.inline.fields
						= render "devise/shared/links"