=render 'layouts/header'
= render  'publications/gmodal'
.ui.segment
	.ui.special.cards
		- @publications.each do |pub|
			.ui.black.card{:style => "float:left !important ; margin-right:5px !important; margin-left:15px !important;"}
				.content
					.header
						= link_to pub.title , pub
				.extra.content
					= pub.genre
					.right.floated
						= pub.tags
				.extra.content
					%i.spy.icon
					= link_to pub.pen_name , publications_view_path(pub.writer_id)
					.inline.field
					 