/ Infity scroll publications
.ui.special.cards{:style => "padding-left:3%!important;"}
	- @publications.each do |publication|
		.ui.black.card{:style => "float:left !important ; margin-right:5px !important; margin-left:15px !important;"}
			.content
				.ui.black.header
					= link_to publication.title , publication 
			.extra.content
				= publication.genre
				.right.floated 
					= publication.tags
			.extra.content
				= link_to publications_publication_path(publication.writer) , :id => 'pen' do
					%i.spy.icon#pen
					= publication.pen_name 
				.right.floated
					%i.blue.comment.icon
					- if !publication.comment_threads.blank?
						#{publication.comment_threads.count}
					- else 
						0

			.extra.content
				= link_to like_publication_path(publication), method: :put do
					%i.green.heart.icon
					Likes
					\#{publication.get_upvotes.size}
				.right.floated
					= link_to dislike_publication_path(publication), method: :put do
						%i.red.lemon.icon
						Dislikes
						\#{publication.get_downvotes.size}

			.extra.content  
				.inline.field
					-if writer_signed_in? && current_writer.id == publication.writer_id || writer_signed_in? && current_writer.email == publication.email || superuser_signed_in?
					   
						= link_to 'Edit', edit_publication_path(publication) ,:class => "ui inverted small green button"
						= link_to 'Delete', publication, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "ui small inverted red button"