/Sidebar Menu
.ui.vertical.inverted.sidebar.menu
  = link_to "Verby" ,root_path , :class => 'active item'
  -unless signed_in? 
    = link_to "Publish" ,new_writer_session_path , :class => 'item'
    = link_to "Publications" ,publications_path , :class => 'item'
    = link_to "About" ,static_about_path , :class => 'item'

  -else 
    =link_to "Publish" ,new_publication_path , :class => 'item' 
    = link_to "My Publications" ,publications_path , :class => 'item'
    = link_to "Publications" ,publications_path , :class => 'item'
  -if signed_in?
  -else
    = link_to "Sign up" , new_writer_registration_path, :class => 'item'