/Sidebar Menu
= render 'home/sidebar'
/ Page Contents
.pusher
  .ui.inverted.vertical.masthead.center.aligned.segment
    .ui.container
      .ui.small.secondary.inverted.pointing.menu
        %a.toc.item
          %i.sidebar.icon
        %h3
          = link_to "Verby" ,root_path , :class => 'active item'
        -unless signed_in? 
          = link_to "Publish" ,new_writer_session_path , :class => 'item'  
        -else 
          =link_to "Publish" ,new_publication_path , :class => 'item' 
        = link_to "Publications" ,publications_path , :class => 'item'
        = link_to "About" ,static_about_path , :class => 'item'
        .right.menu
          -if signed_in?
            .item
              %i.sign.out.icon
              = link_to "Log Out" ,destroy_writer_session_path, :method => :delete, :class => 'item'
          -else
            .item
              
              = link_to  new_writer_registration_path, :class => 'item' do
                %i.spy.icon
                Sign Up
            

  
    .ui.text.container
      %h1.ui.inverted.header
        Verby
      %small Everybody loves a good story
      %h2 Connecting creatives and consumers of creative content from the comfort and convenience of their devices. 
      %p Accessible anywhere anytime 24 hours a day Hassle free
      .ui.huge.primary.button
        = link_to "Start Reading" ,publications_path, {:style =>"color:white !important; :hover color:none !important}"}
        
        %i.right.arrow.icon


  / footer
  = render 'layouts/footer'