= render 'home/sidebar'
/ Main home
.ui.basic.segment#main
	.ui.basic.menu{:style => 'background-color: rgba(0,0,0,0.0);border:none !important; border:0px !important;'}
		%a.toc.item
			%i.sidebar.icon
		.header.item    
			.logo
				= link_to root_path do 
					= image_tag('orange-banner.png' , :height => '50')

	%center
		= image_tag('logo.png', :height => '15%', :width => '15%')
		%h2{:style=>'font-weight:400;'} EVERYBODY LOVES A GOOD STORY
		.ui.header Connecting creatives and consumers of creative content from the convenience of their devices
		= link_to new_writer_registration_path do
			.ui.inverted.small.green.button Sign Up
		%br
		%br
		= link_to publications_path do
			.ui.inverted.blue.button
				Start Reading

	.ui.basic.segment
		%center
			%br
			=link_to "http://instagram.com/verbyink", :target => "_blank" do
				.ui.blue.circular.instagram.icon.button
					%i.instagram.icon
