.ui.top.small.inverted.menu
  %a.toc.item
    %i.sidebar.icon 
      /Sidebar Menu
      =render 'home/sidebar'
  %h2  
    = link_to "Verby" ,root_path , :class => 'item'
  
  
  -if writer_signed_in?
    .right.menu
      .item
        = link_to edit_writer_registration_path  do
          %i.edit.icon
          = current_writer.penname
      .item
        = link_to "Log Out" ,destroy_writer_session_path, :method => :delete
  -elsif superuser_signed_in?
    .right.menu
      .item
        = link_to "Log Out" ,destroy_superuser_session_path, :method => :delete, :class => 'ui small button'

  -else
    .right.menu
      .item
         
        = link_to new_writer_registration_path, :class => 'ui item' do
          %i.spy.icon
          Sign Up


