= render 'home/sidebar'
 
.ui.small.inverted.menu{:style => 'border-radius:0px !important;'}
  .ui.container
    %a.blue.toc.item
      %i.sidebar.icon 
        /Sidebar Menu
    .header.item    
      .logo
        = image_tag('orange-banner.png' , :height => '50')  
    
    -if writer_signed_in?
      .right.menu
        .item
          = link_to edit_writer_registration_path  do
            %i.green.edit.icon
            = current_writer.penname
        .item
          = link_to "Log Out" ,destroy_writer_session_path, :method => :delete ,:class => "ui inverted red button"
    -elsif superuser_signed_in?
      .right.menu
        .item
          = link_to "Log Out" ,destroy_superuser_session_path, :method => :delete, :class => 'ui inverted red button'

    -else
      .right.menu
        .item
           
          = link_to new_writer_registration_path, :class => 'ui small inverted green button' do
            %i.spy.icon
            Sign Up

